<div class="px-28">
  <h1 class="font-bold text-6xl pb-8">My Family in Motion</h1>
  <p class="text-lg tracking-wide mb-2">This is a simple Application I created for friends and family to follow
     along with us as we grow together.  There will be many stops and milestones
     along the way so buckle up and hold on tight.
  </p>

  <p class="text-lg tracking-wide mb-24">Be sure to keep all hands, feet, and tails inside the space-craft at all times!</p>
  <div class="mb-8 flex justify-center shadow-xl shandow-gray-400 opacity-90">
    <%= image_tag "gpa_maya.jpg", width: 500 %>
  </div>
  <div>
    <p class="italic text-lg">"The family is one of nature's masterpieces."</p>
    <p class="font-bold px-2">-George Santayana, <span class="text-sm font-light">Philosopher</span></p>
  </div>
</div>
