<div class="w-full h-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-6xl text-white">Pins</h1>
    <%= link_to 'New pin', new_pin_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="pins" class="min-w-full">
    <%= render @pins %>
  </div>
</div>
